<section class="card-container">
    <div class="card1">
        <h1>The Value of Money</h1>
        <div class="wrap">
            <img src="img/money.png" alt="Project 1">
        </div>
        <p>Value is the common quality of wealth. Wealth in most of its aspects is highly heterogenous:
            hay and milk,
            iron and corn-land, cows and calico, human services and gold watches, dollars and doughnuts, pig-pens and
            pearls- all these things, diverse though they be in their physical attributes, have one quality in common:
            Economic Value. By virtue of this common or generic quality, it is possible to add wealth together to get a
            sum, to compare items of wealth with one another, to see which is greater, to get ratios of exchange between
            items of wealth, to speak of one items of wealth with one another, to see which is greater, to get ratios of
            exchange between items of wealth, to speak of one item of wealth, say a crop of wheat, as being a percentage
            of another, say the land which produced it, etc. This common quality, value is also a quantity. It belongs
            to that class of qualities which can be greater or less, can mount or descend a scale, without ceasing to be
            the same quality,-like heat or weight or length. Such qualities are quantities. There is nothing novel in
            the statement that a quality is also a quantity.</p>
        <br>
        <p class="para1"> Source:Benjamin Aderson</p><br>
        <a  class=" imag" href="https://www.google.ca/books/edition/The_Value_of_Money/PzrKq7x06MQC?hl=en&gbpv=1&pg=PA3&printsec=frontcover">Reference
            click here!</a>
        </p>

        <br>
    </div>

    <div class="card2">
        <h1>GMO food</h1>
        <div class="wrap">
            <img src="img/food.png" alt="Project 2">
        </div>
        <p>Testing on GMOs in food and feed is routinely done using molecular techniques like DNA microarrays or
            qPCR.
            These tests are based on screening genetic elements like p35S, tNos, pat, or bar or event specific
            markers
            for the official GMOs like Mon810, Bt11, or GT73. The array based method combines multiplex PCR and
            array
            technology to screen samples for different potential GMO combining different approaches viz. screening
            elements, plant-specific markers, and event-specific markers. The qPCR is used to detect specific GMO
            events
            by usage of specific primers for screening elements or event specific markers. Controls are necessary to
            avoid false positive or false negative results. For example, a test for CaMV is used to avoid a false
            positive in the event of a virus contaminated sample.</p><br>

        <p>Source:
            National Library of medicine</p><br>
        <a
            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3791249/#:~:text=These%20foods%20are%20made%20by,former%20than%20in%20the%20latter.">
            Reference click here!</a>

    </div>

    <br>

    <div class="card3">
        <h1>The View of World in 2100</h1>
        <div class="wrap">
            <img class ="view" src="img/building.png" alt="Project 3">
        </div>
        <p>The world in 2100? How will it be? Can you imagine it? In the past, when thinking about the future,
            people used to imagine flying cars and cities in the sky, but is it the same now? Another theory that
            was
            popular in the 1990s was that we would live underwater, and instead of cities in the sky, we would have
            them
            deep in the ocean.

            But as time passed and technology advanced, we became more aware of our limitations. This can help us
            predict
            the way our future will look in a more realistic manner. Also, technology will never stop evolving,
            which
            means
            we will have even more possibilities than we can imagine when we think about the world in 2100.

            Read on and discover some theories about how the world will look in 2100. What do you think about them?
            Does
            the</p><br>

        <p>Source:
            Sean</p><br>
        <a href="https://scienceintheworld.com/life/49232279/2023/08/the-world-in-2100/">Reference click here!</a>

    </div>