
<h1 class="portfolio-h1">Portfolio</h1>
<section class="card-container1">
    <div class="carda">
        <img class = "pictures" src="img/photo1.png" alt="Project 1">
        <p class="para">Planning</p>
    </div>
    <div class="cardb">
        <img class = "pictures" src="img/photo2.png" alt="Project 2">
        <p class="para">Design</p>
    </div>
    <div class="cardc">
        <img class = "pictures" src="img/photo3.png" alt="Project 3">
        <p class="para">Projects</p>
    </div>
    <div class="cardd">
        <img class = "pictures" src="img/photo4.png" alt="Project 4">
        <p class="para">Finances</p>
    </div>
    <div class="carde">
        <img class = "pictures" src="img/photo5.png" alt="Project 5">
        <p class="para">Colour Psychology</p>
    </div>
    <div class="cardf">
        <img class = "pictures" src="img/photo6.png" alt="Project 6">
        <p class="para">Marketing</p>
    </div>
</section>